:root {
  --cursor-1: url("/Cursors/cursor.cur"), pointer;
}

@font-face {
  font-family: "MotleyForces";
  src: url("./Fonts/MotleyForces.ttf") format("truetype");
}

.hidden {
  display: none !important;
}

.hiddenvis {
  visibility: hidden !important;
  height: 0 !important;
  overflow: hidden !important;
}

html {
  background-color: #454242;
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: var(--cursor-1);
  font-family: "MotleyForces";
}

#TopLeftLog {
  overflow: hidden;
  position: absolute;
}

#Stats {
  position: absolute;
  left: 200px;
}

#ClickBox {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 100px;
  left: 125px;
  display: flex;
}

#Ad, #Blocked {
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#Blocked {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

#UpgradesBox {
  position: absolute;
  left: 850px;
  top: 25px;
  width: 500px;
  height: 600px;
  display: flex;
  align-items: center;
  overflow-y: auto;
  flex-direction: column;
  background-color: red;
}

.Upgrade {
  width: 450px;
  height: 150px;
  background-color: blue;
  margin-bottom: 5px;
  margin-top: 5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 60px;
  overflow: hidden;
}

.UpgradeName {
  margin-left: 10px;
  font-size: 20px;
} 

.UpgradePrice {
  font-size: 20px;
}

.UpgradeDiscription {
  font-size: 20px;
}

.UpgradePurchaseButton {
  margin-left: auto;
  cursor: var(--cursor-1);
}